*{
 box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
   font-family: "Instrument Serif", "Times New Roman", serif;
   border: 1px solid black;
   background: rgb(214, 208, 208);
}

.photo {
    order: -1;
    width: 500px;
    height: 500px;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.supernav{
    border: 1px solid black;
    border-radius: 16px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 16px 400px;
    padding: 16px;
}

.nav-card{
    color: white;
    text-decoration: none;
}

#photo-tf2-stand {
    width: 1800px;
    height: 1100px;
    margin: 16px 40px;
    border: 2px solid black;

}

#icon-tf2 {
   height: 200px;
   width: 200px;
}

#info {
    border-radius: 12px;
    display: flex;
}

.icon-main-tf {
    display: flex;
    justify-content: center;
}

.textinfo{
    margin: 16px 24px;
}

.glavainfo{
    display: flex;
    justify-content: center;
}

.card {
    margin: 16px 500px;
    border: 2px solid rgb(0, 0, 0);
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

#Scout {
    display: flex;
    border: 5px solid black;
    border-radius: 16px;
    background: white;
    order: 2;
    margin: 16px 150px;
    font-size: 20px;

}

#scout-photo {
    border: 2px solid black;
}

.osnmar-scout {
    display: flex;
    flex-direction: column;
    margin: 16px 16px;
    padding: 16px 16px;
    padding-left: 16px;
    margin: 16px 16px;
    margin-left: 16px;
}

.drygoe-scout{
    flex-direction: column;
    font-size: 24px;
    row-gap: 50px;
}

.name {
    order: 0;
    margin: 4px 4px;
    margin-left: 250px;
}

#Solder {
    display: flex;
    border: 5px solid black;
    border-radius: 16px;
    background: white;
    order: 2;
    margin: 16px 150px;
    font-size: 20px;

}

#solder-photo {
    border: 2px solid black;
}

.osnmar-solder{
     display: flex;
    flex-direction: column;
    margin: 16px 16px;
    padding: 16px 16px;
    padding-left: 16px;
    margin: 16px 16px;
    margin-left: 16px;
}

.drygoe-solder{
    flex-direction: column;
    font-size: 24px;
    row-gap: 50px;
}

.basement{
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 16px 158px; 
}

#gitm {
    color: gray;
    padding-top: 16px;
    text-decoration: none;
}
