*{
 box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
   font-family: "Instrument Serif", "Times New Roman", serif;
   background-color: rgb(255, 255, 255);
   border: 1px solid black;
   background: radial-gradient(circle at center top,white, gray, rgb(187, 142, 91), rgb(122, 74, 29), rgb(160, 78, 1));
}

.photo {
    
    width: 500px;
    height: 500px;
}

#icon-tf2 {
   height: 200px;
   width: 200px;
}

#info {
    border: 1px solid black;
    border-radius: 12px;
}

#info {
    display: flex;
    flex: 1;
}

.icon-main-tf {
    display: flex;
    justify-content: center;
}

.textinfo{
    margin: 16px 24px;
}

.glavainfo{
    display: flex;
    justify-content: center;
}

.card {
    margin: 16px 500px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(194, 107, 49);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.basement{
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 16px 158px; 
}

#gitm {
    color: gray;
    padding-top: 16px;
}
