*{
 box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
   font-family: "Instrument Serif", "Times New Roman", serif;
   background-color: rgb(255, 255, 255);
}

.photo {
    
    width: 500px;
    height: 500px;
}

#icon-tf2 {
   height: 200px;
   width: 200px;
}

header {
 


}

#Main-information {
    margin: 16px 158px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basement{
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 16px 158px; 
}

#gitm {
    color: gray;
    padding-top: 16px;
}
